*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  background-color: black;
  color: gray;
}

button,input{
  min-width: 48px;
  min-height: 48px;
  margin-top: 1vw;
}



.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  align-items: center;

  input{
    max-width: 350px;
    height: auto;
  }

  .result{
    margin-top: 1vh;
    width: 30vw;
    height: 10vh;
    background: rgb(235, 234, 234);
    color: black;
  }

}

